<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaturaArbeit_Aaron_Bojarski_Planetenbahnen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WPF_LoopTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MaturaArbeit_Aaron_Bojarski_Planetenbahnen.Properties.Settings>
            <setting name="ZoomRate" serializeAs="String">
                <value>3.3E-09</value>
            </setting>
            <setting name="OnlySaveEveryNthPosition" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BodyForMeasuring" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NumberOfRevolutionsPerTest" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TestingIsAktive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TestingToolDeltaTBase" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TestingToolDeltaTMultiplicator" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="StreamNumberOfLastPositions" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="RadiusMultiplicator" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RadiusSummand" serializeAs="String">
                <value>0</value>
            </setting>
        </MaturaArbeit_Aaron_Bojarski_Planetenbahnen.Properties.Settings>        
    </userSettings>
</configuration>